<ion-menu type="reveal" [content]="maincontent">
    <ion-content class="menu-background">
        <div class="spacer"></div>
        <div class="logo">
            <img *ngIf="profilepic" src="{{profilepic}}">
            <img *ngIf="!profilepic" src="assets/user.png">
        </div>
        <h2 class="appname">{{username}}</h2>
        <div class="spacer"></div>
        <ion-list>
            <button ion-item  menuClose>
                <ion-icon name="home"  item-left></ion-icon>
                Channels Feed
                <div class="active-indicator"></div>
            </button>
            <button ion-item menuClose (click)="openPage('spiinpiin')" >
                 <ion-icon name="pin" item-left></ion-icon>
                    SpiinPiin
            </button>
            <button ion-item menuClose (click)="openPage('channels')">
                 <ion-icon name="flash" item-left></ion-icon>
                    Channels
            </button>
            <button ion-item menuClose (click)="openPage('spinchat')">
                 <ion-icon name="chatboxes" item-left></ion-icon>
                    Spin Chat
            </button>
            <button ion-item menuClose (click)="openPage('account')">
                 <ion-icon name="person" item-left></ion-icon>
                    Account
            </button>
            <button ion-item menuClose (click)="openPage('settings')">
                 <ion-icon name="cog" item-left ></ion-icon>
                    Settings
            </button>           
        </ion-list>        
    </ion-content>
</ion-menu>

<ion-nav #maincontent [root]="rootPage"></ion-nav>