page-menu {
    .scroll-content{
         background: transparent !important;
    }
    .menu-background{
         background-color: #5B7495;
         .item{
            background-color: #5B7495;
            font-weight: 700;

         }
    }
   
.logo{   
       img{ display: block; 
        width: 50%; 
        border-radius: 50%;
        height: auto; 
        margin-left: auto; 
        margin-right: auto;}
    
}
.appname{
    color:#FFFFFF;
    text-align:center;
    
}

.spacer{
    height: 10px;
    width: 100%;
}
}
