page-spiinpiin {
    background-color: #ccc;
    .larger{
        font-size: 2em;

    }
    .circular-icon{
        border-radius: 25px;
        padding:5px;
        color:#fff;
        background-color: #5B7495;
    }
}
